h1{
    text-align: center;
    color: crimson;
}
div{

    max-width: 400px;
    padding: 15px;
   
   
}
.icono_azul{
    font-size: 2.5em;
    color: cornflowerblue;
}
.icono_rojo{
    font-size: 3em;
    color: crimson;
}
