h1{

text-align: center;
color: #e63946;

}

div{

padding: 10px;
color: black;
width: 100px;
height: 50px;
text-align: center;
font-size: 10px;

}

.rojo{

    float: left;
    background-color: crimson;
}

.rosa{

    float: left;
 background-color: deeppink;

}

.caja{

    float: left

}

.violeta{

background-color:violet ;
color:rgb(131,56,236)


}

.transparencia{
    background-color: #0091ad88;
    color:rgb(131,56,236,.5) 


}

.hexadecimal{

    background-color: #0091ad

}

.hsl{

    background-color:rgb(195, 100, 50);
}

.hsltransparencia{

    background-color: rgb(195, 100, 50, 0.5);
}

*{
    background-color: skyblue;
}
